/* Reset and base styles */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Roboto+Mono:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #1b1a17;
  color: #f0e3ca;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* Grid styles */
.container {
  width: 1245px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Mobile */
  /* Sticky Footer */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1244px) {
  .container {
    width: 632px;
  }
}
@media (max-width: 631px) {
  .container {
    width: 413px;
  }
}
.container .none {
  display: none !important;
}
.container .visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}
.container .footer {
  margin-top: auto; /* sticky footer */
}
.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.gradient-line {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 15px;
  background-size: 100% 12px;
  background-image: linear-gradient(to left);
}
@media (max-width: 1244px) {
  .gradient-line {
    background-position: center bottom 12px;
  }
}
@media (max-width: 631px) {
  .gradient-line {
    background-position: center bottom 6px;
  }
}

.header {
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(27, 26, 23, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1244px) {
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
@media (max-width: 631px) {
  .header {
    padding-bottom: 20.5px;
    padding-top: 20.5px;
  }
  .header .container {
    display: none;
  }
}

.header__content {
  display: flex;
  -moz-column-gap: 525px;
       column-gap: 525px;
  padding-left: 10px;
}
@media (max-width: 1244px) {
  .header__content {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.menu-link {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
.menu-link:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 631px) {
  .menu-link {
    margin-right: 60px;
    margin-bottom: 64px;
  }
}

.header__mobile-menu {
  display: none;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
@media (max-width: 631px) {
  .header__mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
}
.header__mobile-menu .header__mobile-menu.active {
  top: -100vh;
}
.header__mobile-menu .wrapper-logo {
  z-index: 2;
}

.header__mobile-menu-list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
}
.header__mobile-menu-list .menu-link {
  margin-right: 0;
}

.header__mobile-menu-list.active {
  transform: translateY(0);
}

.fade-block-header {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.717);
  transform: translateY(-100%);
  transition: transform 500ms;
  z-index: 2;
}

.fade-block-header.active {
  transform: translateY(0);
}

.preview {
  padding-top: 143px;
  padding-bottom: 72.5px;
}
@media (max-width: 1244px) {
  .preview {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
@media (max-width: 631px) {
  .preview {
    padding-top: 141.5px;
    padding-bottom: 141.5px;
  }
}

.preview__content {
  display: flex;
  -moz-column-gap: 137px;
       column-gap: 137px;
  align-items: center;
}
.preview__content > * {
  flex-shrink: 0;
}
@media (max-width: 1244px) {
  .preview__content {
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }
}

.preview__avatar {
  position: relative;
  width: 620px;
  height: 575px;
}
@media (max-width: 631px) {
  .preview__avatar {
    width: 413px;
    height: 430px;
  }
}

.about-me {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-me__content {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.about-me__content > * {
  flex-shrink: 0;
}
@media (max-width: 631px) {
  .about-me__content {
    flex-direction: column;
    row-gap: 32px;
  }
}

.about-me__icon {
  width: 101px;
  height: 101px;
}

.about-me__text {
  width: 904px;
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
}
@media (max-width: 1244px) {
  .about-me__text {
    font-weight: 500;
    width: 451px;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media (max-width: 631px) {
  .about-me__text {
    width: 322px;
    line-height: 1.13;
  }
}

.my-skills {
  padding-top: 64px;
  padding-bottom: 64px;
}

.my-skills__row-cards {
  display: flex;
  position: relative;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}
@media (max-width: 1244px) {
  .my-skills__row-cards {
    width: 632px;
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
@media (max-width: 631px) {
  .my-skills__row-cards {
    width: 285px;
    margin: 0 auto;
  }
}

.my-works {
  padding: 64px 0;
}

.my-works__row-cards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 1244px) {
  .my-works__row-cards {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
@media (max-width: 631px) {
  .my-works__row-cards {
    padding-top: 80px;
  }
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 1244px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }
}

.footer__copyright {
  width: 213px;
}
@media (max-width: 1244px) {
  .footer__copyright {
    width: 339px;
  }
}

.footer-copyright__copyright {
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  width: 384px;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 32px;
}
@media (max-width: 631px) {
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
}

.info {
  width: 448px;
}
@media (max-width: 631px) {
  .info {
    width: 314px;
  }
}

.info__wrapper-main-title {
  margin-bottom: 13px;
}
@media (max-width: 1244px) {
  .info__wrapper-main-title {
    margin-bottom: 9px;
  }
}
@media (max-width: 631px) {
  .info__wrapper-main-title {
    margin-bottom: 16px;
  }
}

.info__wrapper-main-subtitle {
  margin-bottom: 14px;
}
@media (max-width: 631px) {
  .info__wrapper-main-subtitle {
    margin-bottom: 16px;
  }
}

.info__discription {
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
}
@media (max-width: 631px) {
  .info__discription {
    font-size: 24px;
    line-height: 1.04;
  }
}

.main-title {
  font-family: "Inconsolata";
  font-weight: 900;
  font-size: 64px;
  line-height: 1.05;
  color: #6d65cb;
}
@media (max-width: 631px) {
  .main-title {
    font-size: 40px;
    line-height: 1.05;
  }
}

.context-title {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.06;
  color: #6d65cb;
}

.main-subtitle {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.06;
  color: #f0e3ca;
}
@media (max-width: 631px) {
  .main-subtitle {
    font-size: 32px;
    line-height: 1.06;
  }
}

.wrapper-section-title {
  margin-bottom: 32px;
  text-align: center;
}

.wrapper-card-title {
  margin-bottom: 16px;
}

.wrapper-footer-title {
  margin-bottom: 16px;
}
@media (max-width: 1244px) {
  .wrapper-footer-title {
    text-align: center;
  }
}

.avatar {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 374px;
  width: 371px;
}
@media (max-width: 631px) {
  .avatar {
    width: 278px;
    height: 276px;
  }
}

.avatar__img {
  height: 374px;
  width: 371px;
  overflow: hidden;
  border-radius: 30% 70% 70% 30%/30% 17% 83% 70%;
  z-index: 4;
  position: absolute;
}
@media (max-width: 631px) {
  .avatar__img {
    width: 278px;
    height: 276px;
  }
}

.avatar__shadow {
  height: 374px;
  width: 371px;
  border-radius: 30% 70% 70% 30%/30% 17% 83% 70%;
  opacity: 0.72;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 631px) {
  .avatar__shadow {
    width: 278px;
    height: 276px;
  }
}

.avatar__shadow--first {
  background-color: #6d65cb;
  z-index: 2;
  transform: rotate(31deg);
}

.avatar__shadow--second {
  background-color: #F0E3CA;
  z-index: 1;
  transform: rotate(-24deg);
}

.avatar__shadow--third {
  background-color: rgba(200, 0, 255, 0.718);
  z-index: 3;
  transform: rotate(-79deg);
}

.skill-card {
  position: relative;
  min-width: 200px;
  min-height: 300px;
  border-radius: 10px;
  transition: all 0.5;
}
.skill-card .skill-card__front,
.skill-card .skill-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1000ms;
  border-radius: 10px;
}
.skill-card .skill-card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  transform: perspective(600px) rotateY(0deg);
  background-color: #383232;
}
@media (max-width: 631px) {
  .skill-card .skill-card__front {
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.skill-card .skill-card__back {
  background-color: rgba(96, 96, 96, 0.534);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: perspective(600px) rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skill-card .skill-card__back-text {
  font-size: 20px;
  max-width: 400px;
  min-width: 150px;
}
@media (max-width: 631px) {
  .skill-card {
    width: 285px;
    min-height: 60px;
  }
}
.skill-card:hover .skill-card__item {
  transition: fill 400ms;
  margin-top: 50vh;
  margin-left: 50vh;
}
.skill-card:hover .card-btn {
  transition: background-color 400ms;
}
.skill-card:hover .skill-card__item--html {
  fill: #FC490B;
}
.skill-card:hover .skill-card__item--css {
  fill: #2196F4;
}
.skill-card:hover .skill-card__item--js {
  fill: #FFDF00;
}
.skill-card:hover .skill-card__item--scss {
  fill: #CA669B;
}
.skill-card:hover .skill-card__item--git {
  fill: #F25234;
}
.skill-card:hover .card-btn--html {
  box-shadow: inset 0 0 10px #FC490B, 0 0 10px #FC490B;
  border: 2px solid #FC490B;
  transition: 400ms;
}
.skill-card:hover .card-btn--css {
  box-shadow: inset 0 0 10px #2196F4, 0 0 10px #2196F4;
  border: 2px solid #2196F4;
  transition: 400ms;
}
.skill-card:hover .card-btn--js {
  box-shadow: inset 0 0 10px #FFDF00, 0 0 10px #FFDF00;
  border: 2px solid #FFDF00;
  transition: 400ms;
}
.skill-card:hover .card-btn--scss {
  box-shadow: inset 0 0 10px #CA669B, 0 0 10px #CA669B;
  border: 2px solid #CA669B;
  transition: 400ms;
}
.skill-card:hover .card-btn--git {
  box-shadow: inset 0 0 10px #F25234, 0 0 10px #F25234;
  border: 2px solid #F25234;
  transition: 400ms;
}

.skill-card__item {
  transition: fill 400ms;
}

.card-btn {
  height: 37px;
  min-width: 123px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 400ms;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  cursor: pointer;
  transition: box-shadow 400ms;
  transition: border 400ms;
}
@media (max-width: 631px) {
  .card-btn {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
  }
}

@media (max-width: 631px) {
  .skill-card__img svg {
    width: 32px;
    height: 32px;
  }
}

.skill-card-cross {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.75s ease-in-out;
}
.skill-card-cross:hover {
  transform: rotate(360deg);
}

.skill-card.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg) !important;
  min-width: 300px;
  min-height: 200px;
  max-width: 500px;
  max-height: 400px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 100%;
  z-index: 300;
  transition: top 500ms, left 500ms;
}
.skill-card.active .skill-card__front {
  transform: perspective(600px) rotateY(180deg) scale(1);
}
.skill-card.active .skill-card__back {
  transform: perspective(600px) rotateY(0deg) scale(1);
}

.fade-block-skills {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.362);
  transform: translateY(-100%);
  transition: transform 500ms;
  z-index: 11;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.fade-block-skills.active {
  transform: translateY(0);
}

.card-project {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
}
.card-project:hover .card-project__info-shadow {
  top: 0;
  transition: top 400ms ease-out;
}

.card-project__img img {
  width: 320px;
  height: 320px;
}

.card-project__info-shadow {
  height: 100%;
  width: 100%;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 32, 29, 0.98);
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 400ms ease-out;
}

.card-project__top {
  width: 200px;
  padding-bottom: 16px;
  border-bottom: 1px solid #6058bb;
  text-align: center;
}

.card-project__tehn {
  font-family: "Inconsolata";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.06;
}

.card-project__bottom {
  width: 219px;
  padding-top: 16px;
}

.card-project__description {
  margin-bottom: 16px;
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;
}

.card-project__action {
  text-align: center;
}

.context-link {
  display: inline-block;
  height: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #32312E;
  font-family: "Inconsolata";
  font-weight: 500;
  font-size: 14px;
  line-height: 39px;
  border-radius: 4px;
}

.context-link:hover {
  background-color: #393939;
}

.context-link:active {
  background-color: #6d65cb;
  transition: 70ms;
}

.social-link {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  color: #5b51ca;
}
@media (max-width: 631px) {
  .social-link {
    min-width: 204px;
  }
}
.social-link__img {
  height: 32px;
  width: 32px;
}
.social-link a {
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.04;
}
.social-link:nth-child(3) {
  margin-right: 60px;
}
@media (max-width: 631px) {
  .social-link:nth-child(3) {
    margin-right: 0;
    order: 2;
  }
}
@media (max-width: 631px) {
  .social-link:nth-child(2) {
    order: 3;
  }
  .social-link:nth-child(4) {
    order: 4;
  }
}

.footer .wrapper-logo {
  margin-bottom: 16px;
}
@media (max-width: 1244px) {
  .footer .wrapper-logo {
    width: 160px;
    margin: 0 auto 16px;
  }
}

.logo--footer svg {
  height: 44px;
  width: 160px;
}

.burger {
  width: 36px;
  height: 24px;
  z-index: 4;
  transform: translateY(0);
}

.burger.active {
  transform: translateY(-100%);
}

.burger__line {
  width: 36px;
  height: 4px;
  margin-bottom: 6px;
  background-color: #f0e3ca;
  transition: transform 451ms;
}
.burger__line:last-child {
  margin-bottom: 0;
}

.burger__line--first.active {
  transform: rotate(45deg) translateY(14px);
}

.burger__line--second.active {
  transform: scale(0);
}

.burger__line--third.active {
  transform: rotate(-45deg) translateY(-14px);
}/*# sourceMappingURL=main.css.map */