$backgroundBody:#1b1a17; 
$textColor:#f0e3ca;
$headingColor:#6d65cb;
$cardColor:#383232;
$cardSkillsColorHTML: #FC490B;
$cardSkillsColorCSS: #2196F4;
$cardSkillsColorJavaScript: #FFDF00;
$cardSkillsColorSCSS: #CA669B;
$cardSkillsColorGit: #F25234;
$lineColor: rgba(200, 0, 255, 0.752);