.info {
    width: 448px;
}
.info__wrapper-main-title {
    margin-bottom: 13px;

    @media (max-width: 1244px) {
margin-bottom: 9px;
        }
}
.info__wrapper-main-subtitle {
    margin-bottom: 14px;
}
.info__discription {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
}
