.skill-card {
    position: relative;
    min-width: 200px;
    min-height: 300px;
    border-radius: 10px;
    transition: all 0.5;

    .skill-card__front,
    .skill-card__back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 1000ms;
    border-radius: 10px;
    }


    .skill-card__front{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        transform: perspective(600px) rotateY(0deg);
        background-color: $cardColor;

        @media(max-width: 631px){
            flex-direction: row;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 32px;
            column-gap: 25px;
                }
    }

    .skill-card__back{
background-color: #7125ff;
transform: perspective(600px) rotateY(-180deg);
    }



    @media(max-width: 631px){
width: 285px;
min-height: 60px;

    }



    &:hover{
    .skill-card__item{
        transition: fill 400ms;
        margin-top: 50vh;
        margin-left: 50vh;
    }
    .card-btn{
    transition: background-color 400ms;
    }
    .skill-card__item--html{
    fill: $cardSkillsColorHTML; 
    }
    .skill-card__item--css{
        fill: $cardSkillsColorCSS;
    }
    .skill-card__item--js{
        fill: $cardSkillsColorJavaScript;
    }
    .skill-card__item--scss{
        fill: $cardSkillsColorSCSS;
    }
    .skill-card__item--git{
        fill: $cardSkillsColorGit;
    }
    .card-btn--html{
        box-shadow: inset 0 0 10px $cardSkillsColorHTML, 0 0 10px $cardSkillsColorHTML;
        border: 2px solid $cardSkillsColorHTML;

        transition: 400ms;
    }
    .card-btn--css{
        box-shadow: inset 0 0 10px $cardSkillsColorCSS, 0 0 10px $cardSkillsColorCSS;
        border: 2px solid $cardSkillsColorCSS;

        transition: 400ms;
    }
    .card-btn--js{
        box-shadow: inset 0 0 10px $cardSkillsColorJavaScript, 0 0 10px $cardSkillsColorJavaScript;
        border: 2px solid $cardSkillsColorJavaScript;

        transition: 400ms;
    }
    .card-btn--scss{
        box-shadow: inset 0 0 10px $cardSkillsColorSCSS, 0 0 10px $cardSkillsColorSCSS;
        border: 2px solid $cardSkillsColorSCSS;

        transition: 400ms;
    }
    .card-btn--git{
        box-shadow: inset 0 0 10px $cardSkillsColorGit, 0 0 10px $cardSkillsColorGit;
        border: 2px solid $cardSkillsColorGit;

        transition: 400ms;
    }

    }
}

.skill-card__item{
    transition: fill 400ms;
}
.card-btn {
    height: 37px;
    min-width: 123px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 400ms;
    color: #ffffff;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    cursor: pointer;
    transition: box-shadow 400ms;
    transition: border 400ms;

    @media(max-width: 631px){
height: 30px;
line-height: 30px;
font-size: 24px;
            }
}


.skill-card__img svg{

    @media(max-width: 631px){
width: 32px;
height: 32px;
    }
    }

.skill-card-cross{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}


.skill-card.active{
    &{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg);
        min-width: 500px;
        min-height: 400px;
        z-index: 300;
        transition: top 500ms, left 500ms;
    } 

    .skill-card__front{
        transform: perspective(600px) rotateY(180deg) scale(1);
        
        } 
        
    .skill-card__back{
        transform: perspective(600px) rotateY(0deg) scale(1);
        
        
        }


}

.fade-block-skills{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.362);
    transform: translateY(-100%);
    transition: transform 500ms;
    z-index: 11;
    backdrop-filter: blur(20px);
}

.fade-block-skills.active{
transform: translateY(0);
}