.my-works{
    padding: 64px 0;
}
.my-works__content{

}
.my-works__row-cards{
    display: flex;
    justify-content: center;
    column-gap: 16px;

    @media(max-width: 1244px){
        flex-direction: column;
align-items: center;
row-gap: 16px;
    }
}
