.my-skills {
    padding-top: 64px;
    padding-bottom: 64px;
    
}
.my-skills__content {

}


.my-skills__row-cards {
    display: flex;
    position: relative;
    column-gap: 16px;
justify-content: center;

@media(max-width: 1244px){
    width: 632px;
    flex-wrap: wrap;
    row-gap: 16px;
}

@media(max-width: 631px){
width: 285px;
margin: 0 auto;
}
}
